/ScriptParser/Bechdel
/ScriptParser/IMSDBBase
/ScriptParser/names/names
/ScriptParser/ParsedScripts
/ScriptParser/RawScripts
/ScriptParser/__pycache__
/ScriptParser/allRaw
/ScriptParser/realChar
*.log
*.csv
*.zip
*.json
*.html
*.txt
